<!-- para que funcione el routerLink="home", importar en sharedmodule RouterModule -->
<h1>Paises</h1>
<hr />

<ul class="list-group">
  <!-- <li
    routerLink="home"
    class="list-group-item"
    routerLinkActive="active"
  >
    Home Pages
  </li>
  <li routerLink="about" class="list-group-item" routerLinkActive="active">
    About Pages
  </li>

  <li routerLink="contact" class="list-group-item" routerLinkActive="active">
    Contact Pages
  </li> -->

  <li
    routerLink="countries/by-capital"
    class="list-group-item"
    routerLinkActive="active"
  >
    Por Capital
  </li>

  <li
    routerLink="countries/by-countries"
    class="list-group-item"
    routerLinkActive="active"
  >
    Por Pais
  </li>

  <li
    routerLink="countries/by-region"
    class="list-group-item"
    routerLinkActive="active"
  >
    Por Region
  </li>

</ul>
